<div class="container">
  <div class="row mt-4">
    <div class="col-lg-10" *ngIf="jsonData">

      <ng-container *ngFor="let list of jsonData | keys;let index=index;">
        <p *ngIf="checkDataType(jsonData[list])!=='object';else objectFound">{{list | label | titlecase}} :
          {{jsonData[list]}}
        </p>

        <!-- If data type is non-primitive -->
        <ng-template #objectFound>

          <app-table   [tableData]='{dataList:jsonData[list],title:list}'>
          </app-table>

        </ng-template>


    
      </ng-container>



    </div>
  </div>
</div>
