<ng-template #recursiveList let-tableData>

  <p class="bolder">{{tableData.title | label | titlecase}}:</p>

  <table class="table table-bordered">
    <ng-container>
      <thead>
        <tr>
          <ng-container *ngFor="let keyHeaderList of tableData.dataList">
            <th>{{keyHeaderList| keys | label | titlecase}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr>
          <ng-container *ngFor="let keyHeaderList of tableData.dataList;let index=index;">
         
            <td *ngIf="checkDataType(keyHeaderList[keyHeaderList|keys])!='object';else objectFound">
           
              <ng-container [ngSwitch]="checkInputType(keyHeaderList[keyHeaderList|keys])">
                <input class="form-control" type="input" [value]="keyHeaderList[keyHeaderList|keys]" *ngSwitchCase="'string'">
                <input class="form-control" type="number" [value]="keyHeaderList[keyHeaderList|keys]" *ngSwitchCase="'number'">
                <input class="form-control" type="date" [value]="getDateFormat(keyHeaderList[keyHeaderList|keys])" *ngSwitchCase="'date'">
             
                <input class="form-control" type="input" [value]="keyHeaderList[keyHeaderList|keys]" *ngSwitchDefault>

              </ng-container>
             
            </td>
            <ng-template #objectFound>
              <td>
                <button (click)="nestedData(index,keyHeaderList)"
                  type="button" class="btn btn-primary"> View More
                 
                </button>
              </td>
            </ng-template>

          </ng-container>
        </tr>

      </tbody>
    </ng-container>
  </table>
</ng-template>

<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: tableData }"></ng-container>
<div *ngFor="let list of childArray">
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
</div>
